.container{
  display: flex;
  padding-top: 100px;
  justify-content: center;
  align-items: center;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "dis dis dis dis" 
  "AC C div multi" 
  "seven eight nine minus"
  "four five six plus"
  "one two three equal"
  "zero zero dot equal";
}


.padButton{

  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  background-color: gray;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  font-size: 30px;
  margin: 0;
}

.padButton:hover{
  border: 1px solid white;
  color:#CCC;
}

.dis{
  background-color: black;
  grid-area: dis;
  text-align: end;
}
.dis input{
  width: 90%;
  height: 50px;
  background-color: black;
  border: 0;
  text-align: right;
  padding: 5px 20px;
}
input::placeholder{
  color: white;
  font-size: 30px;
  padding: 5px 20px;

}
input[type="text" i]{
  padding: 0;
}

.result{
  color: yellow;
  padding: 5px 20px;
  font-size: 30px;
}

.equal{
  grid-area: equal;
}
.zero{
  grid-area: zero;
}

.dark-grey{
  background-color: #333;
}

.tomato{
  background-color: tomato;
}

.blue{
  background-color: #5699CC;
}

